@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .input-basic { @apply w-20 rounded-md border border-gray-300 px-2 py-1 text-sm; }
  .card-base {
    @apply rounded-lg bg-white ring-1 ring-sky-200 shadow-sm px-4 py-3;
  }
}

